$black: #222;
$abs-black: #000;
$white: #fafafa;
$abs-white: #fff;

$hover-animation: all 0.3s;

$font-family-std: 'Montserrat', 'Roboto', 'Arial', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
