@import '~bootstrap/scss/bootstrap-reboot';
@import './styles/bootstrap-override';
@import '~bootstrap/scss/bootstrap-grid';

@import './styles/constants';
@import './styles/mixins';
@import './styles/text';

html,
body {
  height: 100%;
}

body {
  font-family: $font-family-std;
  background-color: $white;
  color: $black;
}
